{% block data_analysis_query_parameter_widget %}
    {% spaceless %}
        {% for child in form %}
            <div class="form-group">
                {{ form_label(child) }}
                <div class="col-sm-9 col-md-9 sonata-ba-field sonata-ba-field-standard-natural  ">
                    {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock data_analysis_query_parameter_widget %}
