{% extends '@Weekend4twoBackend/CRUD/subadmin_edit.html.twig' %}


{% block form_label %}
    <label for="">{{ label }}</label>
{% endblock form_label %}

{% block subadmin_buttons %}{% endblock %}

{% block form_content %}
    {% for child in form %}
        <div style="margin-bottom:15px;" class="clearfix">
            {{ form_label(child, null, {'label_attr': {'class': 'col-sm-3'}}) }}
            <div class="col-sm-9 col-md-9 sonata-ba-field sonata-ba-field-standard-natural  ">
                {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    {% endfor %}
{% endblock form_content %}

{% block formactions %}
    <div class="well well-small form-actions">
        <input type="submit" class="btn btn-primary" name="btn_first" value="Abfragen"/>
    </div>
{% endblock formactions %}
