{% extends '@Weekend4twoBackend/CRUD/subadmin_edit.html.twig' %}


{% block form_label %}
    <label for="">{{ label }}</label>
{% endblock form_label %}

{% block subadmin_buttons %}{% endblock %}

{% block form_content %}
    {{ form_rest(form) }}
{% endblock form_content %}

{% block formactions %}
    <div class="well well-small form-actions">
        <input type="submit" class="btn btn-primary" name="btn_first" value="Abfragen"/>
    </div>
{% endblock formactions %}
